# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*
*.autosave
SplineDemo_Include.pri
/debug/SplineDemo.tlog
/debug
/release
*.stash
/.vs/SplineDemo/v14
*.filters
ui_*.h
*.db
*.opendb
